<hr color="black">

<div class="container" style="margin: 15px;">

    

    <h2>Digital Academy</h2>
    
    <br>
    
    <img src="https://cms.thedigitalacademy.co.za/uploads/IMG_20191021_113701_7bf3607384.jpg" alt="pict"style ="margin-right: 10px"> 
    
    <h6>Lorem ipsum dolor sit amet, consectetur adipiscing elit,sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</h6>
    <br>
    <h4>Vacanies</h4>
    <p style="font-size: 14px;"> Developer Programme </p>
    <font><small>2 days ago</small></font>
     <p style="font-size: 11px;">4 months - Full Time</p> 
     
    
     <h6> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</h6>
    
     <button>Apply</button>
    <br>
    
     <p style="font-size: 14px;"> E-Track Programme</p>  <font><small>7 days ago</small></font>
    
     <p style="font-size: 11px;">7 months - Full Time</p>
    
     <h6> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</h6>
    
     <button>Apply</button>
</div>




