
h2{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    
}

h6{
    text-align:right;
}

.button{
    border-radius: 12px;
}
img {
    display: left;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  h6{
    text-align: left;
  }

  img {
    float: left;
  }
  font{
    float:right;
  }

 