

<h5><strong>PROGRAM DETAILS</strong></h5>

<h5>Please add new program</h5>

<div class="container">
  <form action="/action_page.php">
  <div class="row">
    <div class="col-25">
      <label for="fname">Title:</label>
    </div>
    <div class="col-75">
      <input type="text" id="fname" name="firstname" placeholder="Program name..">
    </div>
  </div>
  <div class="row">
    <div class="col-25">
      <label for="subject">Description & Details:</label>
    </div>
    <div class="col-75">
      <textarea id="subject" name="description" placeholder="Write something.." style="height:50px"></textarea>
    </div>
    <div class="row">
        <div class="col-25">
          <label for="fname">Add Image Link:</label>
        </div>
        <div class="col-75">
          <input type="text" id="fname" name="firstname" placeholder="">
        </div>

  </div>
  <div class="row">
    <div class="col-25">
      <label for="country">Vacancies:</label>
    </div>
    <div class="col-75">
      <select id="country" name="country">
        <option value="australia">YES</option>
        <option value="canada">NO</option>
      </select>
    </div>
  </div>

  <div class="container">
    <form action="/action_page.php">
    <div class="row">
      <div class="col-25">
        <label for="fname">Title of Vacancy:</label>
      </div>
      <div class="col-75">
        <input type="text" id="fname" name="firstname" placeholder="Title of vacancy..">
      </div>
      
    </div>
    <div class="row">
      <div class="col-25">
        <label for="subject">Details of Vacancy:</label>
      </div>
      <div class="col-75">
        <textarea id="subject" name="description" placeholder="Write something.." style="height:50px"></textarea>
      </div>
      <div class="col-25">
        <label for="fname">Duration:</label>
      </div>
      <div class="col-75">
        <input type="text" id="fname" name="firstname" placeholder="Duration..">
      </div>

  <input type="submit" name="submit" value="ADD PROGRAM">

  